body{
    background: rgb(15, 179, 23);
    color: rgb(3, 110, 8)
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 100px;
}

.item{
    border: 1px rgb(2, 128, 19) solid;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    animation: show 1s;
    background: white;
    box-shadow: 0 0 5px 1px black;
}
.item > h1{
    text-align: center;
}
.item > p{
    text-align: justify;
}
@keyframes show {
    0%{ opacity: 0; transform:translateY(100px);}
}